/*
 * Custom CSS for styling output from view "user_annex" that is used to display
 * user_annex records on the user profile tab.
 */
.view-user-annex .views-row {
  padding: 4px;
  border: 1px solid black;
  margin: 5px 0;
}

/*
 * Custom CSS for styling the field headers and field values in an entity display.
 */
.user_annex .field--label-inline {
  clear: both;
  margin: 0.25em 0;
  font-family: initial;
}
.user_annex .field--label-inline > .field__label {
  float: left;
  font-weight: bold;
  font-size: 100%;
  padding-right: 0.5em;
}
.user_annex .field--label-inline > .field__item {
  font-weight: normal;
  font-size: 100%;
}
.user_annex .field--label-inline > .field__items {
  font-weight: normal;
  font-size: 100%;
}
