{#
/**
 * @file user_annex.html.twig
 * Default theme implementation to present User annex data.
 *
 * This template is used when viewing User annex pages.
 *
 *
 * Available variables:
 * - content: A list of field items. Use 'content' to print them all, or
 *   'content.label' to print just the label (and so on).
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_user_annex()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('user_annex/user_annex') }}
<div{{ attributes.addClass('user_annex') }}>
  {% if content %}
    {{ content }}
  {% endif %}
</div>
